@using MudBlazor

<style>
    .mud-dialog-title {
        background-color: #d32f2f;
        color: white;
        padding: 10px 24px;
    }

    .message-content {
        min-width: 250px;
        margin: 10px;
    }

    .mud-dialog-content {
        padding: 10px;
    }

    .mud-dialog-actions {
        background-color: #efe8e8;
    }

    .axis-modal-footer-btn {
        margin: 0 10px 0 10px;
        min-width: 90px;
    }
</style>

<MudDialog>
    <TitleContent>
        @Title
    </TitleContent>
    <DialogContent>
        <div class="message-content">
            <p><b>Message:</b> @Message</p>
            <p><b>Source:</b> @Source</p>

            @if (!string.IsNullOrWhiteSpace(StackTrace))
            {
                <MudExpansionPanels>
                    <MudExpansionPanel Text="Stack Trace">
                        @StackTrace
                    </MudExpansionPanel>
                </MudExpansionPanels>
            }
        </div>
    </DialogContent>
    <DialogActions>
        <button type="button" class="btn btn-secondary axis-modal-footer-btn" @onclick="OnCloseClick">Close</button>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = null!;

    [Parameter] public string? Title { get; set; }

    [Parameter] public string? Message { get; set; }
    [Parameter] public string? Source { get; set; }
    [Parameter] public string? StackTrace { get; set; }

    private void OnCloseClick()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }
}
