@using MudBlazor

<style> 
    .mud-dialog .mud-dialog-title {
        padding: 0;
    }

    .mud-dialog .mud-dialog-actions {
        flex: auto;
        display: flow;
        padding: 0;
    }

    .axis-modal-header {
        padding: 10px 24px;
    }

    .axis-title-information {
        color: var(--mud-palette-appbar-text);
        background-color: var(--mud-palette-appbar-background);
    }

    .message-content {
        min-width: 250px;
        padding: 0px;
    }
</style> 
 
<MudDialog>
    <TitleContent>
        @if (!string.IsNullOrEmpty(Title))
        {
            <div class="axis-modal-header axis-title-information">
                <p class="modal-title">@Title</p>
            </div>
        }
    </TitleContent>
    <DialogContent>
        <div class="d-flex flex-row message-content">
            @if (ComponentType != null)
            {
                <DynamicComponent Type="ComponentType" Parameters="ComponentParameters"/>
            } 
        </div>
    </DialogContent>
</MudDialog>

@code { 
    [CascadingParameter] 
    private IMudDialogInstance MudDialog { get; set; } = null!; 
 
    [Parameter]
    public Type? ComponentType { get; set;}

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public IDictionary<string, object?>? ComponentParameters { get; set; }
}